.myLink {
  font-size: 25px;
  padding: 5px;
  color: black;
  background-color: #cb8ae3;
  border-radius: 5px;
  border: 1px solid white;
}
.myInput {
  font-size: 25px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid #cb8ae3;
}

@media (max-width: 480px) {
  .myLink {
    font-size: 15px;
    padding: 3px;
  }
  .myInput {
    font-size: 12px;
    padding: 2px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .myLink {
    font-size: 20px;
  }
  .myInput {
    font-size: 20px;
    padding: 3px;
  }
}
